*{
    font-family: 'Roboto', sans-serif;
    color: #40924b;
}


body{
    background-image: url("/Imagenes/fondo_cv1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #40924b;
}

.title{
    display: flex;
    align-items: start;
    padding: 2px;
    font-size: 40px;
    margin-right: auto;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
   
}

.menu__item{
    padding: 3px;
}

.menu__link{
    
    padding: .5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.menu__link:hover, .menu__link:active {
    border-bottom: 2px solid #0073e6;
    
}

.header{
display: flex;
padding: 0 10rem 0 4rem;
}

.contenido{
    margin-top: 300px;
}
.saludo{
    font-weight: bold;
    font-size: 4rem;
    margin-top: auto;
    text-align: center;
    text-transform: uppercase;
    

}
.slide{
    font-size: 4rem;
    font-weight: bold;
   
    text-align: center;

}

.slide{
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-fill-mode: initial;
  }
  
  @keyframes slidein {
    
    from {
      margin-left:90%;
      width:100%
    }
  
    to {
     margin-left:0%;
     width:100%;
   }
  }

.footer {
    /*background: #fdfdfd;
    color: #333333; 
    padding: 1rem;
    text-align: center;*/
}